header{
    padding-top: 40px;
    height: 200px;
    background-color: rgb(214, 128, 240);
}
.menu{
    width: 20%;
    background-color: rgb(229, 109, 240);
    height: 800px;
    float: left;
}
.content{
    width: 80%;
    background-color: rgb(159, 36, 197);
    height: 800px;
    float: left;
}
footer{
    height: 150px;
    background-color: rgb(120, 54, 138);
    clear: both;
}
.p1, .p3{
    font-size: 50px;
    text-align: center;
    color: rgb(78, 1, 78);
    font-family: 'Pattaya', sans-serif;
}
.p2{
    font-size: 30px;
    text-align: center;
    color: rgb(109, 22, 112);
    word-spacing: 20px;
    font-family: 'Pattaya', sans-serif;
}
.p3{
    color:azure;
    font-family: 'Pattaya', sans-serif;
}
body {
    background: #A4DADA;
  }
  .glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 45px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #990d8b inset, 0 0 0 0 #c410ca;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: px;
    color: white;
    transition: .15s ease-in-out;
    margin-left: 50px ;
    margin-bottom: 15px;
  }
  .glow-button:hover {
    box-shadow: 0 0 10px 0 #86237e inset, 0 0 10px 4px #a85ba8;
    color: #741d77;
  }
  .p4{
      color:rgb(95, 21, 82);
      font-family: 'Caveat', cursive;
  }
  .inst{
      color: azure;
      text-align: center;
  }
  .leftimg {
    float:left; /* Выравнивание по левому краю */
    float: right;
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }